@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;

		font-family: "Poppins", Arial, Helvetica, sans-serif;
		font-weight: 400;

		outline: none;
		list-style: none;
		text-decoration: none;
	}

	html {
		scroll-behavior: smooth;

		@media (max-width: 1024px) {
			font-size: 93.75%;
		}
		@media (max-width: 768px) {
			font-size: 87.5%;
		}
	}

	th {
		text-align: start;
	}

	::-webkit-scrollbar {
		width: 8px;
	}
	::-webkit-scrollbar-track {
		background: #121214;
	}
	::-webkit-scrollbar-thumb {
		border-radius: 0.5rem;
		background: #1a435a;
		&:hover {
			background: #2a6ac2;
		}
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}
	&::-webkit-calendar-picker-indicator {
		display: none !important;
	}
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}
